In [ ]:
'''
  Install packages required to connect to MySQL
  instance deployed in GCP. The connection is via
  Cloud SQL service offered by GCP
  NOTE: A session restart is required after installation
  of the cloud-sql-python-connector module
'''
# Install PyMySQL python module
!pip install cloud-sql-python-connector

Collecting cloud-sql-python-connector
  Downloading cloud_sql_python_connector-1.11.0-py2.py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from cloud-sql-python-connector) (3.10.1)
Requirement already satisfied: cryptography>=42.0.0 in /usr/local/lib/python3.10/dist-packages (from cloud-sql-python-connector) (42.0.8)
Requirement already satisfied: Requests in /usr/local/lib/python3.10/dist-packages (from cloud-sql-python-connector) (2.32.3)
Collecting google-auth>=2.28.0 (from cloud-sql-python-connector)
  Downloading google_auth-2.33.0-py2.py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=42.0.0->cloud-sql-python-connector) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth>=2.28.0->cloud-sql-python-connector) (5.4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth>=2.28.0->cloud-sql-python-connector) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth>=2.28.0->cloud-sql-python-connector) (4.9)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector) (2.3.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector) (24.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->cloud-sql-python-connector) (4.0.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from Requests->cloud-sql-python-connector) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from Requests->cloud-sql-python-connector) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from Requests->cloud-sql-python-connector) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from Requests->cloud-sql-python-connector) (2024.7.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=42.0.0->cloud-sql-python-connector) (2.22)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=2.28.0->cloud-sql-python-connector) (0.6.0)
Downloading cloud_sql_python_connector-1.11.0-py2.py3-none-any.whl (42 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.0/43.0 kB 1.4 MB/s eta 0:00:00
Downloading google_auth-2.33.0-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 6.6 MB/s eta 0:00:00
Installing collected packages: google-auth, cloud-sql-python-connector
  Attempting uninstall: google-auth
    Found existing installation: google-auth 2.27.0
    Uninstalling google-auth-2.27.0:
      Successfully uninstalled google-auth-2.27.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires google-auth==2.27.0, but you have google-auth 2.33.0 which is incompatible.
Successfully installed cloud-sql-python-connector-1.11.0 google-auth-2.33.0

In [ ]:
'''
  Install the python MySQL module used for
  managing connections to MySQL DB from
  a python runtime
'''
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
'''
  Configure the environment with the GCP
  project to which the MySQL instance is
  assigned.
'''
from tools import load_db_cfg
dbcfg = load_db_cfg('pp.json')
#project_id="youtubechannelanalysis-423709"
!gcloud config set project {dbcfg['project_id']}

Updated property [core/project].

In [ ]:
'''
  Aunthenticate to Google Colab as a valid
  GCP user that has access to the above
  project and its resources.
  NOTE: The project needs to be pre-configured
  for the user access
'''
from google.colab import auth
auth.authenticate_user()

In [ ]:
import pandas as pd
from dbconnect import  DbConnector
import sqlalchemy

class PhonePeDao:
  def __init__(self,dbcfg):
    self.__connector__ = DbConnector(dbcfg)
    self.__connection__ = self.__connector__.connect()

  def get_dashboard_mock(self,rec_type, year, quarter, state):
    if rec_type=='Transaction':
      return  {
              'recordType': 'Transaction',
              'title': 'Transaction Dashboard',
              'description':'Displays transaction information for the selected year or quarter',
              'aggregates':{'name':'Transaction Summary','charts':[{'title': 'Transaction Count', 'value': 50000},{'title': 'Amount (in Rs.)', 'value': 78500}]},
              'top':{'name':'Transactions By Top Locations','charts':[ {'title': 'Top States', 'data': pd.DataFrame({'State':['tamil-nadu','maharastra', 'kerala','karnataka', 'bihar','manipur','andhra-preadesh','jharkand','jammu-&-kashmir', 'puduchery'], 'Transaction Count':[10,9,8,7,6,5,4,3,2,1], 'Amount':[10000,9000,8000,7000,6000,5000,4000,3000,2000,1000]})},
                      {'title': 'Top Districts', 'data': pd.DataFrame({'District':['chengalpet','thiruvallur', 'krishnagiri','ramanathapuram','salem','namakkal','karur','coimbatore','nilgiris','hosur'], 'Transaction Count':[10,9,8,7,6,5,4,3,2,1],'Amount':[10000,9000,8000,7000,6000,5000,4000,3000,2000,1000]})},
                      {'title': 'Top Pincodes', 'data': pd.DataFrame({'Pincode':['600023','600001', '600011','600028','600038','600048','600058','600068','600078','600088'], 'Transaction Count':[10,9,8,7,6,5,4,3,2,1], 'Amount':[10000,9000,8000,7000,6000,5000,4000,3000,2000,1000]})}
              ]},
              'trend':{'name':'Quarterly Transaction Trends', 'charts':[{'title': 'Quarterly Transaction Trend', 'data': pd.DataFrame({'Quarter':['Q1','Q2','Q3','Q4'], 'Transaction Count':[1,4,3,2]})}]},
              'aux_aggregates':{'name': 'Payment Methods','charts':[{'title':'Recharge & bill payments', 'value': 50000,'metric':'Count'},{'title': 'Peer-to-peer payments', 'value': 78500, 'metric':'Count'}, {'title': 'Merchant payments', 'value': 98500,'metric':'Count'},{'title': 'Financial Services', 'value': 50255,'metric':'Count'},{'title':'Recharge & bill payments', 'value': 50000,'metric':'Amount'},{'title': 'Peer-to-peer payments', 'value': 78500, 'metric':'Amount'}, {'title': 'Merchant payments', 'value': 98500,'metric':'Amount'},{'title': 'Financial Services', 'value': 50255,'metric':'Amount'}]}
            }
    if rec_type=='Insurance':
      return  {
                'recordType': 'Insurance',
                'title': 'Insurance Dashboard',
                'description':'Displays insurance information for a given year or quarter',
                'aggregates':{'name':'Insurance Summary', 'charts':[{'title': 'Insurance Count', 'value': 50000},{'title': 'Insurance Amount (in Rs.)', 'value': 78500}]},
                'top':{'name':'Insurance By Top Locations','charts': [{'title': 'Top States', 'data': pd.DataFrame({'State':['tamil-nadu','maharastra', 'kerala','karnataka', 'bihar','manipur','andhra-preadesh','jharkand','jammu-&-kashmir', 'puduchery'], 'Insurance Count':[10,9,8,7,6,5,4,3,2,1], 'Amount':[10000,9000,8000,7000,6000,5000,4000,3000,2000,1000]})},
                        {'title': 'Top Districts', 'data': pd.DataFrame({'District':['chengalpet','thiruvallur', 'krishnagiri','ramanathapuram','salem','namakkal','karur','coimbatore','nilgiris','hosur'], 'Insurance Count':[10,9,8,7,6,5,4,3,2,1], 'Amount':[10000,9000,8000,7000,6000,5000,4000,3000,2000,1000]})},
                        {'title': 'Top Pincodes', 'data': pd.DataFrame({'Pincode':['600023','600001', '600011','600028','600038','600048','600058','600068','600078','600088'], 'Insurance Count':[10,9,8,7,6,5,4,3,2,1], 'Amount':[10000,9000,8000,7000,6000,5000,4000,3000,2000,1000]})}
                  ]},
                  'trend':{'name':'Quarterly Insurance Trends','charts':[{'title': 'Quarterly Insurance Trend', 'data': pd.DataFrame({'Quarter':['Q1','Q2','Q3','Q4'], 'Insurance Count':[1,4,3,2]})}]},
      }
    if rec_type == 'User':
      return {
                'recordType': 'User',
                'title': 'User & Device Dashboard',
                'description':'Displays user and device information for the selected year or quarter',
                'aggregates':{'name':'Registered User Summary', 'charts':[{'title': 'Registered Users', 'value': 50000},{'title': 'Application Opens', 'value': 78500}]},
                'top':{'name':'Registered Users By Top Locations','charts':[ {'title': 'Top States', 'data': pd.DataFrame({'State':['tamil-nadu','maharastra', 'kerala','karnataka', 'bihar','manipur','andhra-preadesh','jharkand','jammu-&-kashmir', 'puduchery'], 'User Count':[10,9,8,7,6,5,4,3,2,1]})},
                        {'title': 'Top Districts', 'data': pd.DataFrame({'District':['chengalpet','thiruvallur', 'krishnagiri','ramanathapuram','salem','namakkal','karur','coimbatore','nilgiris','hosur'], 'Transaction Count':[10,9,8,7,6,5,4,3,2,1]})},
                        {'title': 'Top Pincodes', 'data': pd.DataFrame({'Pincode':['600023','600001', '600011','600028','600038','600048','600058','600068','600078','600088'], 'Transaction Count':[10,9,8,7,6,5,4,3,2,1]})}
                ]},

                'aux_aggregates':{'name':'Registered Devices','charts':[{'title':'Xiaomi', 'value': 11926334},{'title': 'Samsung', 'value': 9609401}, {'title': 'Vivo', 'value': 5894293},{'title': 'Oppo', 'value': 479351},{'title': 'RealMe', 'value': 2376866}, {'title': 'Apple', 'value': 1825153}, {'title': 'Motorolla', 'value': 1593250}, {'title': 'OnePlus', 'value': 1536418}, {'title': 'Lenovo', 'value': 1246507}, {'title': 'Huawei', 'value': 808774}, {'title': 'Others', 'value': 5581520}]},
                'trend':{'name':'Quarterly Trend of Registered Users','charts':[{'title': 'Quarterly User Trend', 'data': pd.DataFrame({'Quarter':['Q1','Q2','Q3','Q4'], 'User Count':[1,4,3,2]})}]}
      }

  def supported_years(self):
    return [2018,2019,2020,2021,2022,2023,2024]

  def supported_quarters(self):
    return [(1,'Q1'),(2,'Q2'),(3,'Q3'),(4,'Q4')]

  def supported_states(self):
    sql= f'''SELECT g.id as 'id', g.name as 'State' FROM geo g WHERE geo_type='STA' ORDER BY name ASC'''

    # Execute agg SQL
    stmt = sqlalchemy.text(sql,)
    df=pd.read_sql_query(stmt, self.__connection__)
    return df


  def get_transaction_dashboard(self,year, quarter=None, state=None):

    # Prepare the dashboard dictionary
    dashboard=dict()
    dashboard['recordType']='Transaction'
    dashboard['title']='Transaction Dashboard'
    dashboard['description']='Displays transaction information for the selected year or quarter'

    # Aggregates Processing
    dashboard['aggregates']=dict()
    agg=dashboard['aggregates']
    agg['name']='Transaction Summary'
    agg['charts']=list()

    # Aux Aggregates
    dashboard['aux_aggregates']=dict()
    aux_agg=dashboard['aux_aggregates']
    aux_agg['name']='Payment Methods'
    aux_agg['charts']=list()

    # SQLs and Filter Procesing
    sql= f'''SELECT t.category as 'Payment Method', sum(t.count) as 'Count', sum(t.amount) 'Amount' FROM transaction_agg t WHERE year=:year'''

    # Set the WHERE clause based on the fiters passed to this function
    params=dict()
    params['year']=year

    if quarter is not None:
      sql += ' AND quarter=:quarter'
      params['quarter']=quarter[0]

    sql += ' AND geo_id=:geo_id'
    if state is not None:
      params['geo_id']=state
    else:
      params['geo_id']=0 #Refers to country India

    sql += ' GROUP BY t.category'

    # Execute agg SQL
    stmt = sqlalchemy.text(sql,)
    df=pd.read_sql_query(stmt, self.__connection__,params=params)

    # Populate 'aggregates' & 'aux_aggregates'
    d_ct_total=dict()
    d_ct_total['title']='Transaction Count'
    d_ct_total['value']=0

    d_amt_total=dict()
    d_amt_total['title']='Amount (in Rs.)'
    d_amt_total['value'] = 0
    for idx, row in df.iterrows():
      d_ct=dict()
      d_ct['title']=row['Payment Method']
      d_ct['value']=row['Count']
      d_ct['metric']='Count'
      aux_agg['charts'].append(d_ct)
      d_ct_total['value'] += row['Count']


      d_amt=dict()
      d_amt['title']=row['Payment Method']
      d_amt['value']=row['Amount']
      d_amt['metric']='Amount'
      aux_agg['charts'].append(d_amt)
      d_amt_total['value'] += row['Amount']

    agg['charts'].append(d_ct_total)
    agg['charts'].append(d_amt_total)


    # Execute top SQL
    if( quarter is not None):
      dashboard['top']=dict()
      sql_top=f'''SELECT g.name as 'Location', g.geo_type as 'Location Type', t.count as 'Transaction Count' ,t.amount as 'Amount (in Rs.)' FROM transaction_top t JOIN geo g ON (t.geo_id=g.id) WHERE year=:year AND quarter=:quarter AND top_in=:top_in'''
      params_top=dict()
      params_top['year']=year
      params_top['quarter']=quarter[0]

      if state is not None:
        params_top['top_in']='STA'
        sql_top += ' AND geo_id IN (SELECT id from geo WHERE parent_id=:parent_id)'
        params_top['parent_id']=state
      else:
        params_top['top_in']='CON'

      stmt = sqlalchemy.text(sql_top,)
      df_top=pd.read_sql_query(stmt, self.__connection__,params=params_top)

      # Populate 'top'
      top=dashboard['top']
      top['name']= 'Transactions By Top Locations'
      top['charts']=list()

      #if state is None:
      top['charts'].append(dict())
      top['charts'][0]['title']='Top States'
      top['charts'][0]['data']=df_top[df_top['Location Type']=='STA'].reset_index().drop(columns=['index']).sort_values('Transaction Count', ascending=False)

      top['charts'].append(dict())
      #cidx=len(top['charts'])-1
      top['charts'][1]['title']='Top Districts'
      top['charts'][1]['data']=df_top[df_top['Location Type']=='DIS'].reset_index().drop(columns=['index']).sort_values('Transaction Count', ascending=False)

      top['charts'].append(dict())
      #cidx=len(top['charts'])-1
      top['charts'][2]['title']='Top Pincodes'
      top['charts'][2]['data']=df_top[df_top['Location Type']=='PIN'].reset_index().drop(columns=['index']).sort_values('Transaction Count', ascending=False)

    # Map Data
    if state is None:
      dashboard['by_state']=dict()
      by_states = dashboard['by_state']
      by_states['name']='Insurance By State'

      params_states=dict()
      params_states['year']=year
      sql_states = f'''SELECT S1.geo_id AS 'State Id', g.name AS 'State', S1.counts AS 'Transaction Count', S1.amount AS 'Transaction Amount' FROM (SELECT geo_id, sum(t.count) as counts, sum(t.amount) as amount FROM transaction_agg t WHERE year=:year'''
      if quarter is not None:
        sql_states += ' AND quarter=:quarter'
        params_states['quarter']=quarter[0]

      sql_states += ''' GROUP BY geo_id)S1 JOIN geo g ON (S1.geo_id=g.id) WHERE geo_type='STA' '''

      stmt = sqlalchemy.text(sql_states,)
      df_states=pd.read_sql_query(stmt, self.__connection__,params=params_states)

      by_states['charts']=list()
      by_states['charts'].append({'title':'Transaction By State','data':df_states})
    return dashboard

  def get_insurance_dashboard(self, year, quarter=None, state=None):

    # Prepare the dashboard dictionary
    dashboard=dict()
    dashboard['recordType']='Insurance'
    dashboard['title']='Insurance Dashboard'
    dashboard['description']='Displays insurance information for the selected year and/or quarter'

    # Aggregates Processing
    dashboard['aggregates']=dict()
    agg=dashboard['aggregates']
    agg['name']='Insurance Summary'
    agg['charts']=list()

    # SQLs and Filter Procesing
    sql= f'''SELECT i.count as 'Count', i.amount as 'Amount' FROM insurance_agg i WHERE year=:year'''

    # Set the WHERE clause based on the fiters passed to this function
    params=dict()
    params['year']=year

    if quarter is not None:
      sql += ' AND quarter=:quarter'
      params['quarter']=quarter[0]

    sql += ' AND geo_id=:geo_id'
    if state is not None:
      params['geo_id']=state
    else:
      params['geo_id']=0 #Refers to country India

    # Execute agg SQL
    stmt = sqlalchemy.text(sql,)
    df=pd.read_sql_query(stmt, self.__connection__,params=params)

    # Populate 'aggregates' & 'aux_aggregates'
    d_ct_total=dict()
    d_ct_total['title']='Insurance Count'
    d_ct_total['value']=0

    d_amt_total=dict()
    d_amt_total['title']='Amount (in Rs.)'
    d_amt_total['value']=0

    for idx, row in df.iterrows():
      d_ct_total['value'] += row['Count']
      d_amt_total['value'] += row['Amount']

    agg['charts'].append(d_ct_total)
    agg['charts'].append(d_amt_total)


    # Execute top SQL
    if quarter is not None:
      dashboard['top']=dict()
      sql_top=f'''SELECT g.name as 'Location', g.geo_type as 'Location Type', i.count as 'Insurance Count', i.amount as 'Amount (in Rs.)' FROM insurance_top i JOIN geo g ON (i.geo_id=g.id) WHERE year=:year AND quarter=:quarter AND top_in=:top_in'''

      params_top=dict()
      params_top['year']=year
      params_top['quarter']=quarter[0]

      if state is not None:
        sql_top += ' AND geo_id IN (SELECT id FROM geo WHERE parent_id=:parent_id)'
        params_top['top_in']='STA'
        params_top['parent_id']=state
      else:
        params_top['top_in']='CON'

      stmt = sqlalchemy.text(sql_top,)
      df_top=pd.read_sql_query(stmt, self.__connection__,params=params_top)

      # Populate 'top'
      top=dashboard['top']
      top['name']= 'Insurance By Top Locations'
      top['charts']=list()

      #if state is None:
      top['charts'].append(dict())
      top['charts'][0]['title']='Top States'
      top['charts'][0]['data']=df_top[df_top['Location Type']=='STA'].reset_index().drop(columns=['index']).sort_values('Insurance Count', ascending=False)

      top['charts'].append(dict())
      #cidx= len(top['charts'])-1
      top['charts'][1]['title']='Top Districts'
      top['charts'][1]['data']=df_top[df_top['Location Type']=='DIS'].reset_index().drop(columns=['index']).sort_values('Insurance Count', ascending=False)

      top['charts'].append(dict())
      #cidx= len(top['charts'])-1
      top['charts'][2]['title']='Top Pincodes'
      top['charts'][2]['data']=df_top[df_top['Location Type']=='PIN'].reset_index().drop(columns=['index']).sort_values('Insurance Count', ascending=False)

    # Map Data
    if state is None:
      dashboard['by_state']=dict()
      by_states = dashboard['by_state']
      by_states['name']='Insurance By State'

      params_states=dict()
      params_states['year']=year
      sql_states = f'''SELECT S1.geo_id AS 'State Id', g.name AS 'State', S1.counts AS 'Insurance Count', S1.amount AS 'Insurance Amount' FROM (SELECT geo_id, sum(i.count) as counts, sum(i.amount) as amount FROM insurance_agg i WHERE year=:year'''
      if quarter is not None:
        sql_states += ' AND quarter=:quarter'
        params_states['quarter']=quarter[0]

      sql_states += ''' GROUP BY geo_id)S1 JOIN geo g ON (S1.geo_id=g.id) WHERE geo_type='STA' '''

      stmt = sqlalchemy.text(sql_states,)
      df_states=pd.read_sql_query(stmt, self.__connection__,params=params_states)

      by_states['charts']=list()
      by_states['charts'].append({'title':'Insurance By State','data':df_states})
    return dashboard

  def get_user_dashboard(self,year, quarter=None, state=None):
    # Prepare the dashboard dictionary
    dashboard=dict()
    dashboard['recordType']='User'
    dashboard['title']='User & Device Dashboard'
    dashboard['description']='Displays user and device information for the selected year or quarter'

    # Aggregates Processing
    dashboard['aggregates']=dict()
    agg=dashboard['aggregates']
    agg['name']='Registered User Summary'
    agg['charts']=list()
    dashboard['aux_aggregates']=dict()
    aux_agg=dashboard['aux_aggregates']
    aux_agg['name']='Registered Devices'
    aux_agg['charts']=list()

    # SQLs and Filter Procesing
    sql= f'''SELECT u.reg_users as 'Registered Users', u.app_opens as 'Application Opens' FROM user_agg u WHERE year=:year'''
    sql_device= f'''SELECT d.brand as 'Brand', sum(d.count) as 'Count', sum(d.percentage) as 'Percentage' FROM device_agg d WHERE year=:year'''

    # Set the WHERE clause based on the fiters passed to this function
    params=dict()
    params['year']=year

    if quarter is not None:
      sql += ' AND quarter=:quarter'
      params['quarter']=quarter[0]

    sql += ' AND geo_id=:geo_id'
    if state is not None:
      params['geo_id']=state
    else:
      params['geo_id']=0 #Refers to country India

    sql_device += ' GROUP BY brand'

    # Execute agg SQL
    stmt = sqlalchemy.text(sql,)
    df=pd.read_sql_query(stmt, self.__connection__,params=params)

    # Populate 'aggregates' & 'aux_aggregates'
    d_reg_users_total=dict()
    d_reg_users_total['title']='Registered Users'
    d_reg_users_total['value']=0

    d_app_opens_total=dict()
    d_app_opens_total['title']='Application Opens'
    d_app_opens_total['value']=0

    for idx, row in df.iterrows():
      d_reg_users_total['value'] += row['Registered Users']
      d_app_opens_total['value'] += row['Application Opens']

    agg['charts'].append(d_reg_users_total)
    agg['charts'].append(d_app_opens_total)

    # Execute device agg SQL
    stmt = sqlalchemy.text(sql_device,)
    df_dagg=pd.read_sql_query(stmt, self.__connection__,params=params)

    for idx, row in df_dagg.iterrows():
      d_ct=dict()
      d_ct['title']=row['Brand']
      d_ct['value']=row['Count']
      d_ct['metric']='Count'
      aux_agg['charts'].append(d_ct)

      d_pct=dict()
      d_pct['title']=row['Brand']
      d_pct['value']=row['Percentage']
      d_pct['metric']='Percentage'
      aux_agg['charts'].append(d_pct)

    # Execute top SQL
    if quarter is not None:
      dashboard['top']=dict()
      sql_top=f'''SELECT g.name as 'Location', g.geo_type as 'Location Type', u.reg_users as 'Registered Users' FROM user_top u JOIN geo g ON (u.geo_id=g.id) WHERE year=:year AND quarter=:quarter AND top_in=:top_in'''

      params_top=dict()
      params_top['year']=year
      params_top['quarter']=quarter[0]

      if state is not None:
        sql_top += ' AND geo_id IN (SELECT id from geo WHERE parent_id=:parent_id)'
        params_top['top_in']='STA'
        params_top['parent_id']=state
      else:
        params_top['top_in']='CON'

      stmt = sqlalchemy.text(sql_top,)
      df_top=pd.read_sql_query(stmt, self.__connection__,params=params_top)

      # Populate 'top'
      top=dashboard['top']
      top['name']= 'Registered Users By Top Locations'
      top['charts']=list()

      #if state is None:
      top['charts'].append(dict())
      top['charts'][0]['title']='Top States'
      top['charts'][0]['data']=df_top[df_top['Location Type']=='STA'].reset_index().drop(columns=['index']).sort_values('Registered Users', ascending=False)

      top['charts'].append(dict())
      #cidx= len(top['charts'])-1
      top['charts'][1]['title']='Top Districts'
      top['charts'][1]['data']=df_top[df_top['Location Type']=='DIS'].reset_index().drop(columns=['index']).sort_values('Registered Users', ascending=False)

      top['charts'].append(dict())
      #cidx= len(top['charts'])-1
      top['charts'][2]['title']='Top Pincodes'
      top['charts'][2]['data']=df_top[df_top['Location Type']=='PIN'].reset_index().drop(columns=['index']).sort_values('Registered Users', ascending=False)

    # Map Data
    if state is None:
      dashboard['by_state']=dict()
      by_states = dashboard['by_state']
      by_states['name']='User Statistics By State'

      params_states=dict()
      params_states['year']=year
      sql_states = f'''SELECT S1.geo_id AS 'State Id', g.name AS 'State', S1.rusers AS 'Registered Users', S1.aopens AS 'App Opens'  FROM (SELECT geo_id, sum(u.reg_users) as rusers, sum(u.app_opens) as aopens FROM user_agg u WHERE year=:year'''
      if quarter is not None:
        sql_states += ' AND quarter=:quarter'
        params_states['quarter']=quarter[0]

      sql_states += ''' GROUP BY geo_id)S1 JOIN geo g ON (S1.geo_id=g.id) WHERE geo_type='STA' '''

      stmt = sqlalchemy.text(sql_states,)
      df_states=pd.read_sql_query(stmt, self.__connection__,params=params_states)

      by_states['charts']=list()
      by_states['charts'].append({'title':'User Statistics By State','data':df_states})


    return dashboard

  def get_dashboard(self,rec_type,year,quarter=None,state=None):
   if rec_type == 'Transaction':
    return self.get_transaction_dashboard(year,quarter,state)
   elif rec_type=='Insurance':
    return self.get_insurance_dashboard(year, quarter,state)
   else:
    return self.get_user_dashboard(year, quarter, state)

  def close(self):
    self.__connection__.close()

In [ ]:
# Test Transaction Dashboad

# Read DB config
from tools import load_db_cfg
dbcfg = load_db_cfg('pp.json')

# Create DAO
dao=PhonePeDao(dbcfg)

# Quarterly Dashboard
d1 = dao.get_transaction_dashboard(2018,quarter=(1,'Q1'))

# Yearly Dashboard
d2=dao.get_transaction_dashboard(2018)

# State filter
d3 = dao.get_transaction_dashboard(2018,quarter=(1,'Q1'),state=2)

dao.close()
print(f'''
# Quaraterly Dashboard
-----------------------
 {d1}


# Yearly Dashboard
------------------

{d2}

# Quarterly (w/ State Filter)
------------------

{d3}
''')

In [ ]:
# Test Insurance Dashboad

# Read DB config
from tools import load_db_cfg
dbcfg = load_db_cfg('pp.json')

# Create DAO
dao=PhonePeDao(dbcfg)

# Quarterly Dashboard
d1 = dao.get_insurance_dashboard(2024,quarter=(1,'Q1'))

# Yearly Dashboard
d2=dao.get_insurance_dashboard(2024)

# State filter
d3 = dao.get_insurance_dashboard(2024,quarter=(1,'Q1'),state=2)
dao.close()
print(f'''
# Quaraterly Dashboard
-----------------------
 {d1}


# Yearly Dashboard
------------------

{d2}

# Quarterly (w/ State Filter)
------------------

{d3}
''')

In [ ]:
# Test User Dashboad

# Read DB config
from tools import load_db_cfg
dbcfg = load_db_cfg('pp.json')

# Create DAO
dao=PhonePeDao(dbcfg)

# Quarterly Dashboard
d1 = dao.get_user_dashboard(2024,quarter=(1,'Q1'))

# Yearly Dashboard
d2=dao.get_user_dashboard(2024)

# State filter
d3=dao.get_user_dashboard(2024,quarter=(1,'Q1'),state=2)


dao.close()
print(f'''
# Quaraterly Dashboard
-----------------------
 {d1}


# Yearly Dashboard
------------------

{d2}

# Quarterly (w/ State Filter)
------------------

{d3}
''')

Successfully connected to 'phonepe' database!!

# Quaraterly Dashboard
-----------------------
 {'recordType': 'User', 'title': 'User & Device Dashboard', 'description': 'Displays user and device information for the selected year or quarter', 'aggregates': {'name': 'Registered User Summary', 'charts': [{'title': 'Registered Users', 'value': 530084540}, {'title': 'Registered Users', 'value': 530084540}]}, 'aux_aggregates': {'name': 'Registered Devices', 'charts': [{'title': 'Unknown', 'value': 0.0, 'metric': 'Count'}, {'title': 'Unknown', 'value': 3700.0, 'metric': 'Percentage'}]}, 'top': {'name': 'Registered Users By Top Locations', 'charts': [{'title': 'Top States', 'data':          Location Location Type  Registered Users
4     maharashtra           STA          68016876
8   uttar-pradesh           STA          56028765
2       karnataka           STA          43668141
0  andhra-pradesh           STA          34008709
5       rajasthan           STA          33505514
9     west-bengal           STA          31306843
7       telangana           STA          31082447
6      tamil-nadu           STA          30638750
3  madhya-pradesh           STA          28238554
1         gujarat           STA          27381972}, {'title': 'Top Districts', 'data':                      Location Location Type  Registered Users
2             bengaluru urban           DIS          17506580
3                        pune           DIS          11546171
4                       thane           DIS           7314981
6                      jaipur           DIS           7253881
5             mumbai suburban           DIS           7055629
7                   hyderabad           DIS           5928930
0                   ahmadabad           DIS           5485010
8                  rangareddy           DIS           5149421
9  north twenty four parganas           DIS           4570438
1                       surat           DIS           4569769}, {'title': 'Top Pincodes', 'data':   Location Location Type  Registered Users
8   201301           PIN            984239
0   110059           PIN            829414
5   560068           PIN            753700
6   421302           PIN            743686
3   122001           PIN            654633
7   500072           PIN            650991
1   110092           PIN            640499
2   110086           PIN            583639
4   121004           PIN            570844
9   201009           PIN            548384}]}, 'by_state': {'name': 'User Statistics By State', 'charts': [{'title': 'User Statistics By State', 'data':     State Id                               State  Registered Users  \
0          1           andaman-&-nicobar-islands          108411.0
1          2                      andhra-pradesh        34008709.0
2          3                   arunachal-pradesh          482393.0
3          4                               assam         6510156.0
4          5                               bihar        26765201.0
5          6                          chandigarh          754849.0
6          7                        chhattisgarh         8394140.0
7          8  dadra-&-nagar-haveli-&-daman-&-diu          615863.0
8          9                               delhi        19067147.0
9         10                                 goa         1035050.0
10        11                             gujarat        27381972.0
11        12                             haryana        18248263.0
12        13                    himachal-pradesh         3050141.0
13        14                     jammu-&-kashmir         2195803.0
14        15                           jharkhand        10118149.0
15        16                           karnataka        43668141.0
16        17                              kerala        12553296.0
17        18                              ladakh          130070.0
18        19                         lakshadweep            8578.0
19        20                      madhya-pradesh        28238554.0
20        21                         maharashtra        68016876.0
21        22                             manipur          589568.0
22        23                           meghalaya          365452.0
23        24                             mizoram          165126.0
24        25                            nagaland          398630.0
25        26                              odisha        17393166.0
26        27                          puducherry          631663.0
27        28                              punjab        10286964.0
28        29                           rajasthan        33505514.0
29        30                              sikkim          293821.0
30        31                          tamil-nadu        30638750.0
31        32                           telangana        31082447.0
32        33                             tripura          842135.0
33        34                       uttar-pradesh        56028765.0
34        35                         uttarakhand         5202251.0
35        36                         west-bengal        31306843.0

       App Opens
0   2.853875e+07
1   1.080185e+09
2   1.435970e+08
3   1.381009e+09
4   9.452283e+08
5   2.680802e+06
6   1.290951e+09
7   5.967100e+06
8   8.030294e+07
9   3.116832e+07
10  2.391800e+09
11  3.568530e+08
12  2.316348e+08
13  3.425793e+08
14  1.389087e+09
15  2.186016e+09
16  1.732770e+08
17  1.650308e+07
18  6.453750e+05
19  4.395383e+09
20  3.226965e+09
21  5.975876e+07
22  2.071288e+08
23  5.029436e+07
24  4.648508e+07
25  1.247351e+09
26  3.299001e+06
27  4.484790e+08
28  4.728119e+09
29  1.958436e+07
30  1.089066e+09
31  9.333193e+08
32  8.140784e+07
33  3.113046e+09
34  2.648127e+08
35  6.335265e+08  }]}}


# Yearly Dashboard
------------------

{'recordType': 'User', 'title': 'User & Device Dashboard', 'description': 'Displays user and device information for the selected year or quarter', 'aggregates': {'name': 'Registered User Summary', 'charts': [{'title': 'Registered Users', 'value': 530084540}, {'title': 'Registered Users', 'value': 530084540}]}, 'aux_aggregates': {'name': 'Registered Devices', 'charts': [{'title': 'Unknown', 'value': 0.0, 'metric': 'Count'}, {'title': 'Unknown', 'value': 3700.0, 'metric': 'Percentage'}]}, 'by_state': {'name': 'User Statistics By State', 'charts': [{'title': 'User Statistics By State', 'data':     State Id                               State  Registered Users  \
0          1           andaman-&-nicobar-islands          108411.0
1          2                      andhra-pradesh        34008709.0
2          3                   arunachal-pradesh          482393.0
3          4                               assam         6510156.0
4          5                               bihar        26765201.0
5          6                          chandigarh          754849.0
6          7                        chhattisgarh         8394140.0
7          8  dadra-&-nagar-haveli-&-daman-&-diu          615863.0
8          9                               delhi        19067147.0
9         10                                 goa         1035050.0
10        11                             gujarat        27381972.0
11        12                             haryana        18248263.0
12        13                    himachal-pradesh         3050141.0
13        14                     jammu-&-kashmir         2195803.0
14        15                           jharkhand        10118149.0
15        16                           karnataka        43668141.0
16        17                              kerala        12553296.0
17        18                              ladakh          130070.0
18        19                         lakshadweep            8578.0
19        20                      madhya-pradesh        28238554.0
20        21                         maharashtra        68016876.0
21        22                             manipur          589568.0
22        23                           meghalaya          365452.0
23        24                             mizoram          165126.0
24        25                            nagaland          398630.0
25        26                              odisha        17393166.0
26        27                          puducherry          631663.0
27        28                              punjab        10286964.0
28        29                           rajasthan        33505514.0
29        30                              sikkim          293821.0
30        31                          tamil-nadu        30638750.0
31        32                           telangana        31082447.0
32        33                             tripura          842135.0
33        34                       uttar-pradesh        56028765.0
34        35                         uttarakhand         5202251.0
35        36                         west-bengal        31306843.0

       App Opens
0   2.853875e+07
1   1.080185e+09
2   1.435970e+08
3   1.381009e+09
4   9.452283e+08
5   2.680802e+06
6   1.290951e+09
7   5.967100e+06
8   8.030294e+07
9   3.116832e+07
10  2.391800e+09
11  3.568530e+08
12  2.316348e+08
13  3.425793e+08
14  1.389087e+09
15  2.186016e+09
16  1.732770e+08
17  1.650308e+07
18  6.453750e+05
19  4.395383e+09
20  3.226965e+09
21  5.975876e+07
22  2.071288e+08
23  5.029436e+07
24  4.648508e+07
25  1.247351e+09
26  3.299001e+06
27  4.484790e+08
28  4.728119e+09
29  1.958436e+07
30  1.089066e+09
31  9.333193e+08
32  8.140784e+07
33  3.113046e+09
34  2.648127e+08
35  6.335265e+08  }]}}

# Quarterly (w/ State Filter)
------------------

{'recordType': 'User', 'title': 'User & Device Dashboard', 'description': 'Displays user and device information for the selected year or quarter', 'aggregates': {'name': 'Registered User Summary', 'charts': [{'title': 'Registered Users', 'value': 34008709}, {'title': 'Registered Users', 'value': 34008709}]}, 'aux_aggregates': {'name': 'Registered Devices', 'charts': [{'title': 'Unknown', 'value': 0.0, 'metric': 'Count'}, {'title': 'Unknown', 'value': 3700.0, 'metric': 'Percentage'}]}, 'top': {'name': 'Registered Users By Top Locations', 'charts': [{'title': 'Top States', 'data': Empty DataFrame
Columns: [Location, Location Type, Registered Users]
Index: []}, {'title': 'Top Districts', 'data':         Location Location Type  Registered Users
0  visakhapatnam           DIS           4349723
5  east godavari           DIS           3465605
2        krishna           DIS           3423998
4         guntur           DIS           3382454
3       chittoor           DIS           3214678
1      anantapur           DIS           2619335
8        kurnool           DIS           2484451
6  west godavari           DIS           2319971
7   spsr nellore           DIS           2037823
9       prakasam           DIS           2022873}, {'title': 'Top Pincodes', 'data':   Location Location Type  Registered Users
4   517501           PIN            341202
5   517507           PIN            305041
0   515001           PIN            268309
3   530016           PIN            257668
9   518002           PIN            253903
2   516001           PIN            251394
1   516360           PIN            229802
6   524002           PIN            213525
7   530026           PIN            206906
8   520001           PIN            200608}]}}